<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Assemble your Squad!</title>
  </head>
  <body>
    <h1><%= @team_name %></h1>
    <h2>Team Motto: <%= @team_motto %></h2>
    <h2>Hero 1</h2>
    <p><%= @hero_1_name%></p><br>
    <p><%= @hero_1_power%></p><br>
    <p><%= @hero_1_bio%></p>
    <h2>Hero 2</h2>
    <p><%= @hero_2_name%></p><br>
    <p><%= @hero_2_power%></p><br>
    <p><%= @hero_2_bio%></p>
    <h2>Hero 3</h2>
    <p><%= @hero_3_name%></p><br>
    <p><%= @hero_3_power%></p><br>
    <p><%= @hero_3_bio%></p>
  </body>
</html>
